n8n_marketing/workflows/workflow_2933_H07_Quora_Gold.json
{
  "name": "Prize2Pride_Quora_Gold_Hour07_2933",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ],
          "atHour": 7
        }
      },
      "name": "Schedule_07:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "🥇 Commute Companion - Mobile-friendly content! VIP gift wheel access + custom learning paths. $199.99/month. Watch Now!\\n\\n🔐 Every purchase = unique blockchain code. Uncontrollable. Immutable. Yours forever."
            },
            {
              "name": "hashtags",
              "value": "#Prize2Pride #Purchase2Win #Buy2Win #GoldTier #AILearning #BlockchainEducation #ShowBasedTraining #Hour7 #MegaGifts #1MillionMilestone"
            },
            {
              "name": "cta",
              "value": "Watch Now"
            },
            {
              "name": "tier",
              "value": "Gold"
            },
            {
              "name": "platform",
              "value": "Quora"
            }
          ]
        }
      },
      "name": "Content_Generator",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{$json.content}}\\n\\n{{$json.hashtags}}\\n\\n{{$json.cta}}",
        "additionalFields": {
          "tier": "Gold",
          "platform": "Quora"
        }
      },
      "name": "Post_to_Quora",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/analytics/track",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"platform\": \"Quora\", \"tier\": \"Gold\", \"hour\": 7, \"strategy\": \"AI Host Showcases\", \"timestamp\": \"={{$now}}\"}"
      },
      "name": "Track_Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.totalSales}}",
              "operation": "largerEqual",
              "value2": 1000000
            }
          ]
        }
      },
      "name": "Check_1M_Milestone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/campaigns/mega-gift",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"trigger\": \"1M_MILESTONE_REACHED\", \"timestamp\": \"={{$now}}\", \"platform\": \"Quora\"}"
      },
      "name": "Activate_Mega_Gifts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/purchase2win/distribute",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"platform\": \"Quora\", \"tier\": \"Gold\", \"giftType\": \"hourly_engagement\", \"hour\": 7}"
      },
      "name": "Purchase2Win_Gifts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst crypto = require('crypto');\n\n// Generate unique blockchain code\nconst timestamp = Date.now();\nconst randomBytes = crypto.randomBytes(32).toString('hex');\nconst tier = 'Gold';\nconst platform = 'Quora';\n\nconst blockchainCode = `P2P-${tier}-${timestamp}-${randomBytes.substring(0, 16)}`;\n\nreturn {\n    blockchainCode: blockchainCode,\n    timestamp: timestamp,\n    tier: tier,\n    platform: platform,\n    immutable: true\n};\n"
      },
      "name": "Generate_Blockchain_Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Schedule_07:00": {
      "main": [
        [
          {
            "node": "Content_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content_Generator": {
      "main": [
        [
          {
            "node": "Post_to_Quora",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate_Blockchain_Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post_to_Quora": {
      "main": [
        [
          {
            "node": "Track_Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track_Analytics": {
      "main": [
        [
          {
            "node": "Check_1M_Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_1M_Milestone": {
      "main": [
        [
          {
            "node": "Activate_Mega_Gifts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Purchase2Win_Gifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Blockchain_Code": {
      "main": [
        [
          {
            "node": "Purchase2Win_Gifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "Quora"
    },
    {
      "name": "Gold"
    },
    {
      "name": "Hour07"
    },
    {
      "name": "AI Host Showcases"
    }
  ]
}