n8n_marketing/workflows/workflow_1577_H04_LinkedIn_Freemium.json
{
  "name": "Prize2Pride_LinkedIn_Freemium_Hour04_1577",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ],
          "atHour": 4
        }
      },
      "name": "Schedule_04:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "content",
              "value": "🌟 Dawn Achievers - Morning preparation! Start your learning journey FREE with Prize2Pride. Access AI-powered courses 24/7. Watch Now!\\n\\n🎯 Join the race to 1 MILLION sales! Mega gift pool grows with every purchase!"
            },
            {
              "name": "hashtags",
              "value": "#Prize2Pride #Purchase2Win #Buy2Win #FreemiumTier #AILearning #BlockchainEducation #ShowBasedTraining #Hour4 #MegaGifts #1MillionMilestone"
            },
            {
              "name": "cta",
              "value": "Watch Now"
            },
            {
              "name": "tier",
              "value": "Freemium"
            },
            {
              "name": "platform",
              "value": "LinkedIn"
            }
          ]
        }
      },
      "name": "Content_Generator",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "text": "={{$json.content}}\\n\\n{{$json.hashtags}}\\n\\n{{$json.cta}}",
        "additionalFields": {
          "tier": "Freemium",
          "platform": "LinkedIn"
        }
      },
      "name": "Post_to_LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/analytics/track",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"platform\": \"LinkedIn\", \"tier\": \"Freemium\", \"hour\": 4, \"strategy\": \"Milestone Celebrations\", \"timestamp\": \"={{$now}}\"}"
      },
      "name": "Track_Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.totalSales}}",
              "operation": "largerEqual",
              "value2": 1000000
            }
          ]
        }
      },
      "name": "Check_1M_Milestone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/campaigns/mega-gift",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"trigger\": \"1M_MILESTONE_REACHED\", \"timestamp\": \"={{$now}}\", \"platform\": \"LinkedIn\"}"
      },
      "name": "Activate_Mega_Gifts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://api.prize2pride.com/purchase2win/distribute",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\"platform\": \"LinkedIn\", \"tier\": \"Freemium\", \"giftType\": \"hourly_engagement\", \"hour\": 4}"
      },
      "name": "Purchase2Win_Gifts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        450
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst crypto = require('crypto');\n\n// Generate unique blockchain code\nconst timestamp = Date.now();\nconst randomBytes = crypto.randomBytes(32).toString('hex');\nconst tier = 'Freemium';\nconst platform = 'LinkedIn';\n\nconst blockchainCode = `P2P-${tier}-${timestamp}-${randomBytes.substring(0, 16)}`;\n\nreturn {\n    blockchainCode: blockchainCode,\n    timestamp: timestamp,\n    tier: tier,\n    platform: platform,\n    immutable: true\n};\n"
      },
      "name": "Generate_Blockchain_Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        450
      ]
    }
  ],
  "connections": {
    "Schedule_04:00": {
      "main": [
        [
          {
            "node": "Content_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content_Generator": {
      "main": [
        [
          {
            "node": "Post_to_LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generate_Blockchain_Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post_to_LinkedIn": {
      "main": [
        [
          {
            "node": "Track_Analytics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track_Analytics": {
      "main": [
        [
          {
            "node": "Check_1M_Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_1M_Milestone": {
      "main": [
        [
          {
            "node": "Activate_Mega_Gifts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Purchase2Win_Gifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_Blockchain_Code": {
      "main": [
        [
          {
            "node": "Purchase2Win_Gifts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "LinkedIn"
    },
    {
      "name": "Freemium"
    },
    {
      "name": "Hour04"
    },
    {
      "name": "Milestone Celebrations"
    }
  ]
}